a{
    text-decoration: none;
    color: white;
}

.toolbar{
    background-color: transparent !important;
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 1px 2px 9px 3px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 2px 9px 3px rgba(0,0,0,0.49);
    box-shadow: 1px 2px 9px 3px rgba(0,0,0,0.49);
}

.social-media a img, .social-media button img{
    width: 30px;
    height: 30px;
}

.social-media a img:hover {
    width: 40px;
    height: 40px;
}

/* Estilo para los íconos de redes sociales */
.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
  
/* Ajuste para la barra de navegación en pantallas grandes */
@media (max-width: 768px) {
    /* Asegúrate de que el offcanvas no se muestre en pantallas grandes */
    .navbar-collapse {
        display: none;
    }
}