<div class="d-flex p-3 gap-5 flex-wrap justify-content-center align-items-center" style="height: 100%;">
    <div class="typing-container col-lx-5 col-lg-5 col-md-6 col-sm-10 d-flex flex-column gap-4">
        <div style="width: 150px; height: 150px;">
            <img style="width: 150px; height: 150px; border-radius: 16px; object-fit: cover; box-shadow: 3px 1px 7px 3px #f3fff4f2;" src="/assets/images/profile-photo.png" alt="">
        </div>
        
        <p class="typing text-light" style="text-align: justify;">
            {{'textAboutMe' | translate}}
        </p>

        <div class="col-lx-8 col-lg-8 col-md-6 col-sm-10" style="align-self: end; text-align: right;">
            <button mat-fab extended (click)="downloadCv()">
                {{'downloadCv' | translate}}
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
        </div>
    </div>
</div>