/* Contenedor para las estrellas fugaces */
.starfield {
    position: relative;
    width: 100%;
    /* height: 100vh;  */
    overflow: hidden; /* Evita que las estrellas se salgan */
    background-image: url('/assets/images/mountains.jpg');
}

.starfield1 {
    position: relative;
    width: 100%;
    /* height: 100vh;  */
    /* overflow: hidden;  */
    /* background-image: url('/assets/images/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(9 22 51 / 98%);
}
  
/* Estrellas */
.star {
    position: absolute;
    top: -10px; /* Posición inicial de las estrellas */
    width: 2px;
    height: 2px;
    /* background-color: rgb(206, 25, 25); */
    background-color: rgb(8, 82, 221);
    border-radius: 50%;
    opacity: 0.8;
    animation: fall 10s linear infinite;
    z-index: 999;
}

.mat-drawer-inner-container{
    overflow: hidden !important;
}

mat-drawer{
    overflow: hidden !important;
}
  
/* Animación para que las estrellas caigan */
@keyframes fall {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(100px);
        opacity: 0;
    }
}
  
/* Estrellas fugaces más grandes con diferentes velocidades */
.star-falling {
    width: 4px;
    height: 4px;
    animation: fall 3s linear infinite, moveX 3s linear infinite;
}
  
/* Animación para el movimiento lateral de las estrellas fugaces */
@keyframes moveX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px);
    }
}