/* You can add global styles to this file, and also import other style files */
@import './custom-theme-styles.scss';

html, body { height: 100%; }
body { margin: 0;  font-family: 'Unbounded', sans-serif !important; }

p{
    font-size: 14px;
}

h1{
    font-family: 'Unbounded', sans-serif !important;
}

.mat-drawer-inner-container{
    overflow: hidden !important;
}
